.artwork-card-wrapper {
    width: 50%;
}

.artwork-card {
    height: min-content;
    margin: 0 auto;
    margin-bottom: 7%;
    width: min-content;
}

.art-options {
    /* background-color: rgba(70, 63, 12, 0.5); */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5% 6%;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 40vw;
}

.art-options i {
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;
}

.check {
    background-color: rgb(100 186 237);
    border-radius: 50%;
    color: white;
}

.x {
    background-color: rgb(186, 75, 75);
    border-radius: 50%;
    color: white;
}

.not-verified {
    border: 3px solid rgb(100 186 237);
}


.ig-img-container {
    height: 39vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 40vw;
}

.ig-thumbnail {
    /* height: calc(40vw + 54px); */
    /* position: absolute;
    left: 0;
    top: -54px; */
    width: 100%;
}

.prompt {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10% 0;
    position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    z-index: 2;
}

#delete-prompt {
    background-color: rgba(255, 141, 141, 0.7);
    transform-origin: top left;
}

#verify-prompt {
    background-color: rgba(100, 186, 237, .7);
    transform-origin: top right;
}

.prompt-enter {
    transform: scale(0);
}

.prompt-enter-active {
    transform: scale(1);
    transition: transform 200ms;
}

.prompt-exit {
    transform: scale(1);
}

.prompt-exit-active {
    transform: scale(0);
    transition: transform 200ms;
}

.prompt-btn {
    background-color: rgba(255, 255, 255, 0.714);
    border: 1px solid rgba(255, 255, 255, 0.845);
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    padding: 2px 0;
    width:  50%;
}

.delete {
    background-color: rgba(252, 88, 88, 0.845);
}

.verify {
    background-color: rgba(106, 233, 255, 0.7);
}

/* .close-display-container {
    padding: 6px;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 3;
}

.close-display-btn {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.close-display-btn span {
    background-color: white;
    border-radius: 3px;
    height: 3px;
    position: absolute;
    width: 28px;
}

.left-display {
    transform: rotate(45deg);
    transform-origin: 0 0;
    top: 0;
    left: 1px;
}

.right-display {
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    top: -1px;
    right: -1px;
}

.big-display-enter {
    opacity: 0;
}

.big-display-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.big-display-exit {
    opacity: 1;
}

.big-display-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
.big-display {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.big-display-container {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.big-display-container::after {
    content: "";
    background: url(../../backgrounds/purp.png);
    background-size: cover;
    opacity: .9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
} */


.display-iframe {
    height: 80vw;
    width: 70vw;
}

@media screen and (orientation: landscape) {
    .display-iframe {
        height: 80vh;
        width: 70vh;
    }
}


@media screen and (min-width: 600px) 
              and (orientation: portrait) {
    .display-iframe {
        height: 67vw;
        width: 60vw;
    }
    .ig-img-container {
        width: 35vw;
        height: 34vw;
    }
    .art-options {
        width: 35vw;
    }
}

@media screen and (orientation: landscape) 
              and (min-height: 600px) {
    .display-iframe {
        height: 60vh;
        width: 55vh;
    }
}

/* @media screen and (min-width: 700px) {
    .big-display-container {
        height: 500px;
        width: 500px;
    }
    .display-card {
        width: 350px;
    }
    .display-iframe {
        height: 400px;
    }
} */

/* @media screen and (min-width: 700px)
              and (orientation: portrait) {
    .big-display-container {
        width: 100%;
    }
}    */

/* @media screen and (min-width: 760px) {
    .big-display-container {
        height: 700px;
        width: 600px;
    }
    .display-card {
        width: 450px;
    }
    .display-iframe {
        height: 500px;
    }
} */

/* @media screen and (min-width: 760px)
              and (orientation: portrait) {
    .big-display-container {
        width: 100%;
    }
}    */

@media screen and (min-width: 800px) {
    .artwork-card-wrapper {
        width: 33.3%;
    }
    .ig-img-container {
        height: 24vw;
        width: 25vw;
    }
    .art-options {
        width: 25vw;
    }
}