nav {
    background-image: url(./nav_background.jpg);
    background-position: center;
    background-size: cover;
    /* border: 20px solid rgba(46, 12, 70, .4); */
    /* border-image: linear-gradient(45deg, rgba(255,255,255, .5), transparent) 1; */
    box-shadow: inset 30px 30px 70px rgba(46, 12, 70, .7), inset -30px -30px 70px rgba(46, 12, 70, .7);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.nav-container {
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, .7), 90%, transparent); */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: fit-content;
}

.nav-list {
    background-image: linear-gradient( rgba(255, 255, 255, .55), rgba(255, 255, 255, .7), rgba(255, 255, 255, .55));
    box-shadow: 
        0 0 80px 40px rgba(255, 255, 255, .7);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
    padding: 50px 20px;
}

.nav-list a {
    color: rgb(46, 12, 70);
}
.nav-list a:visited {
    color: rgb(46, 12, 70);
}

.socials-list {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    width: 75px;
}

.socials-list li {
    margin-right: 5px;
    margin-top: 5px;
}

#logout {
    color: rgb(46, 12, 70);
    
    padding-top: 10px;
}

#logout p {
    font-size: 1.4rem;
    /* font-style: normal; */
    font-weight: 500;
    padding-left: 5px;
}