@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Karla&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Didot', serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(255, 207, 203);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
}

#menu {
    text-align: left;
    z-index: 3;
}

#home {
    background-image: url(./backgrounds/home_mobile.png);
    background-position: 50% 70%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
}

#merch {
    /* background-color: rgb(238, 197, 183); */
    padding: 50px 0;
    text-align: center;
}

#merch h2 {
    color: rgb(46, 12, 70);
    margin-bottom: 30px;
    /* text-shadow: 1px 1px 2px whitesmoke; */
}

#shows {
    background-image: url(./backgrounds/shows.png);
    background-position: bottom;
    background-size: cover;
    height: 500px;
    padding: 50px 0;
    text-align: center;
}

#shows h2 {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    /* text-shadow: 1px 1px 2px rgb(147, 0, 147); */
}

#fan-art {
    text-align: center;
}

/* #shows img {
    max-width: 100%;
    position: relative;
} */

#contact {
    color: white;
    background-image: url(./backgrounds/purp.png);
    background-size: cover;
    padding-top: 40px;
    text-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
