@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
}

main {
    background-image: url(./backgrounds/leaves.jpg);
    background-position: top;
    background-size: contain;
    text-align: center;
}

p {
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgba(255, 255, 255, .5);
    font-family: 'Didot', serif;
    font-size: 2.9rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-align: left;
}

input {
    border: 1px solid white;
    padding: 2px 10px;
}



/* MAIN PAGE */

.main-page {
    background-image: linear-gradient(transparent 20%, rgba(120, 0, 159, 0.6));
}

.treat {
    animation: 2s ease-in-out infinite alternate pulse;
    animation-delay: 1s;
    color: rgb(132, 28, 206);
    font-size: 1.2rem;
    padding-right: 22px;
    text-align: right;
}

@keyframes pulse {
    to {
        color: rgb(255, 255, 255);
    }
}

.arrow {
    background-color:  rgba(255, 255, 116, 0.4);
    box-sizing: content-box;
    color: rgba(46, 12, 70, .7);
    cursor: pointer;
    font-size: 2.2rem;
    position: absolute;
    bottom: 45%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px rgb(46, 12, 70);
    width: 45px;
}

.scrollLeft {
    left: 0;
    padding: 6px 4px 6px 0;
}

.scrollRight {
    right: 0;
    padding: 6px 0 6px 4px;
}

#menu {
    text-align: left;
    z-index: 3;
}

#fan-art-prev {
    padding-top: 60px;
}

#video {
    padding-top: 60px;
}

#tour-prev {
    padding-top: 60px;
}



/* SMILEY FOOTER */

.smiley-banner {
    background-image: url(./backgrounds/smiley_multi.png);
    background-size: 12.5%;
    height: 6.25vw;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}



/* POP UP DISPLAYS */

.close-display-container {
    padding: 6px;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 3;
}

.close-display-btn {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.close-display-btn span {
    background-color: white;
    border-radius: 3px;
    height: 3px;
    position: absolute;
    width: 28px;
}

.left-display {
    transform: rotate(45deg);
    transform-origin: 0 0;
    top: 0;
    left: 1px;
}

.right-display {
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    top: -1px;
    right: -1px;
}

.big-display-enter {
    opacity: 0;
}

.big-display-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.big-display-exit {
    opacity: 1;
}

.big-display-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}

.big-display {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.big-display-container {
    align-items: center;
    background-image: url(./backgrounds/big_purp1.png);
    background-size: cover;
    display: flex;
    height: 120vw;
    justify-content: center;
    width: 100%;
}

.loading {
    animation: loading-spin 2s infinite;
    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    transform-origin: center;
}

@keyframes loading-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media screen and (orientation: landscape) {
    .smiley-banner {
        background-size: 6.25%;
        height: 3.12vw;
    }
    .big-display-container {
        height: 100vh;
        width: 100vh;
    }
}

@media screen and (min-width: 600px)
              and (orientation: portrait) {
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1.2rem;
    }
    .treat {
        font-size: 1.3rem;
    }
    .big-display-container {
        height: 100vw;
        width: 90vw;
    }
}

@media screen and (orientation: landscape) 
              and (min-height: 600px) {
    .big-display-container {
        height: 90vh;
        width: 90vh;
    }
}

@media screen and (min-width: 1000px) {
    p {
        font-size: 1.3rem;
    }
    .loading {
        font-size: 2rem;
    }
}

