@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Karla&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
}

main {
    background-image: url(./backgrounds/leaves.png);
    background-position: top;
    background-size: contain;
    /* background-color: rgb(255, 207, 203); */
    text-align: center;
}

/* main::before {
    background-image: linear-gradient(transparent 20%, rgba(98, 0, 255, 0.5));
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgba(255, 255, 255, .4);
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-align: left;
}

.arrow {
    background-color:  rgba(255, 255, 116, 0.4);
    box-sizing: content-box;
    color: rgba(46, 12, 70, .7);
    cursor: pointer;
    font-size: 2.2rem;
    position: absolute;
    bottom: 45%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px rgb(46, 12, 70);
    width: 45px;
}

.scrollLeft {
    left: 0;
    padding: 6px 4px 6px 0;
}

.scrollRight {
    right: 0;
    padding: 6px 0 6px 4px;
}

#menu {
    text-align: left;
    z-index: 3;
}

/* #merch {
    /* border: 1px solid white; */
    /* background-image: url(./backgrounds/leaves.png);
    background-position: top;
    background-size: cover; */
    /* position: relative; */


#fan-art-prev {
    /* border: 1px solid white; */
    /* background-image: url(./backgrounds/leaves.png);
    background-position: top;
    background-size: cover; */
    padding-top: 60px;
}


#video {
    /* border: 1px solid white; */
    /* background-image: url(./backgrounds/leaves.png);
    background-position: top;
    background-size: cover; */
    padding-top: 60px;
}

#tour-prev {
    /* border: 1px solid white; */
    /* background-image: url(./backgrounds/leaves.png);
    background-position: top;
    background-size: contain; */
    padding-top: 60px;
}

/* #merch::before {
    background-image: linear-gradient(rgba(0, 254, 135, 0) 90%, rgba(98, 255, 0, 0));
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#fan-art-prev::before {
    background-image: linear-gradient(rgba(255, 162, 0, 0) 5%, 10%, rgba(255, 162, 0, 0.2));
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#video::before {
    background-image: linear-gradient(rgba(255, 162, 0, 0.2) 1%, 20%, rgba(255, 67, 227, 0.4));
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#tour-prev::before {
    background-image: linear-gradient(rgba(255, 67, 227, .4) 1%, 10%, rgba(98, 0, 255, 0.5));
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

/* #contact {
    color: white;
    background-image: url(./backgrounds/purp.png);
    background-size: cover;
    padding: 30px 0;
} */

/* #contact h2 {
    font-size: 1.7rem;
    margin-bottom: 0;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (min-width: 600px)
              and (min-height: 450px) {
    h2 {
        font-size: 3.1rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1000px) {
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}