#merch h2 {
    padding-top: 10px;
}

.merch-wrapper {
    padding-top: 0;
}

.merch-container {
    border: 2px solid rgb(163, 201, 104);
    display: flex;
    margin: 30px auto;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 90%;
}

.img-container {
    background-color: rgba(133, 86, 162, .43);
    flex: none;
    padding: 10px 10px 5px 10px;
    scroll-snap-align: center;
    width: 100%;
}

.img-container img {
    width: 100%;
}

.merch-links-container {
    position: relative;
}

.merch-links {
    cursor: pointer;
}

.merch-links p {
    color: rgb(46, 12, 70);
    text-shadow: 0 0 30px rgb(148, 171, 102), 1px 1px 20px rgb(148, 171, 102), -1px -1px 20px rgb(148, 171, 102), 0 10px 10px rgb(148, 171, 102), 0 -10px 10px rgb(148, 171, 102), 10px 0 10px rgb(148, 171, 102), -10px 0 10px rgb(148, 171, 102), 0 -5px 5px  rgb(148, 171, 102), 0 5px 5px  rgb(148, 171, 102);
}

.store-links {
    background-color: rgb(46, 12, 70);
    padding: 3px 10px;
    position: absolute;
    right: 20px;
    transform-origin: top;
    top: 32px;
}

.store-links p {
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.store-links p:hover {
    color: rgb(164, 211, 110);
}

.store-links-enter {
    transform: scaleY(0);
}

.store-links-enter-active {
    transform: scaleY(1);
    transition: transform 200ms;
}

.store-links-exit {
    transform: scaleY(1);
}

.store-links-exit-active {
    transform: scaleY(0);
    transition: transform 200ms;
}

@media screen and (min-width: 500px) {
    .merch-container {
        width: 75%;
    }
}

@media screen and (min-width: 600px) {
    #merch h2 {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .merch-container {
        border-right: none;
        border-left: none;
        width: 100%;
    }
    .img-container {
        padding: 20px 20px 15px 20px;
        scroll-snap-align: start;
        width: 50%;
    }
}

@media screen and (min-width: 730px) and (min-height: 450px) {
    .store-links {
        right: 35px;
    }
}

@media screen and (min-width: 900px) {
    .img-container {
        padding: 25px 25px 20px 25px;
    }
}

@media screen and (min-width: 1000px) {
    .merch-container {
        border-right: none;
        border-left: none;
        width: 100%;
    }
    .img-container {
        padding: 10px 10px 5px 10px;
        width: 33.3%
    }
    .store-links {
        right: 45px;
        top: 42px;
    }
    .treat {
        padding-right: 30px;
    }
}