#merch h2 {
    padding-top: 10px;
}

.merch-wrapper {
    padding-top: 0;
}

.merch-container {
    border: 2px solid rgb(163, 201, 104);
    display: flex;
    margin: 30px auto;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 90%;
}

.img-container {
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(133, 86, 162, .43);
    flex: none;
    padding: 10px 10px 5px 10px;
    scroll-snap-align: center;
    width: 100%;
}

.img-container img {
    width: 100%;
}

.store-link p {
    color: rgb(46, 12, 70);
    text-shadow: 0 0 30px rgb(148, 171, 102), 1px 1px 20px rgb(148, 171, 102), -1px -1px 20px rgb(148, 171, 102), 0 10px 10px rgb(148, 171, 102), 0 -10px 10px rgb(148, 171, 102), 10px 0 10px rgb(148, 171, 102), -10px 0 10px rgb(148, 171, 102), 0 -5px 5px  rgb(148, 171, 102), 0 5px 5px  rgb(148, 171, 102);
}





@media screen and (min-width: 500px) {
    .merch-container {
        width: 75%;
    }
}

@media screen and (min-width: 600px) {
    #merch h2 {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .merch-container {
        border-right: none;
        border-left: none;
        width: 100%;
    }
    .img-container {
        padding: 20px 20px 15px 20px;
        scroll-snap-align: start;
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .img-container {
        padding: 25px 25px 20px 25px;
    }
}

@media screen and (min-width: 1000px) {
    .merch-container {
        border-right: none;
        border-left: none;
        width: 100%;
    }
    .img-container {
        padding: 10px 10px 5px 10px;
        width: 33.3%
    }
}