.go-to-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 10px;
    z-index: 2;
}

.go-to {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    font-size: 1.1rem;
    padding: 3px;
    width: fit-content;
}

.line {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 20px;
}

.go-to p {
    font-weight: 600;
    padding: 2px 5px;
    z-index: -1;
}

@media screen and (min-width: 730px) and (min-height: 450px) {
    .line {
        width: 35px;
    }
}

@media screen and (min-width: 1000px) {
    .go-to {
        padding: 5px;
    }
    .go-to p {
        padding: 4px 9px;
        font-size: 1.2rem;
    }
    .line {
        width: 45px;
    }
}