.shows-img {
    top: 5px;
    width: 100%;
}

.tour-link {
    margin-bottom: 0;
    top: 50px;
}

.tour-link p {
    background-color: rgba(132, 28, 206, .4);
    color: rgb(255, 249, 222);
}

@media screen and (min-width: 750px) {
    .events-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 5%; 
    }
    .shows-img-container {
        height: calc(86vw * 0.55);
        overflow: hidden;
        padding: 0 7%;
    }
    .shows-img {
        top: -7%;
    }
    .tour-link {
        top: 80px;
    }
    .tour-link .line {
        margin-right: 7%;
    }
}
@media screen and (min-width: 845px) {
    .events-card-container {
        padding: 0 7%;
    }
}

@media screen and (min-width: 900px) {
    .events-card-container {
        padding: 0 2%;
    }
    .event {
        margin: 2% 0;
    }
    /*
    .shows-img {
        padding: 0 10%;
    }
    .tour-link {
        top: 100px;
    }
    .tour-link .line {
        margin-right:10%;
    } */
}
@media screen and (min-width: 1200px) {
    .events-card-container {
        padding: 0 7%;
    }
    .event {
        margin: 2% 2%;
    }
}

@media screen and (min-width: 1400px) {
    .events-card-container {
        padding: 0 10%;
    }
}

@media screen and (min-width: 1660px) {
    .events-card-container {
        padding: 0 15%;
    }
}

/* @media screen and (min-width: 1120px) {
    .events-card-container {
        justify-content: space-around;
        padding: 0 15%;
    }
}

@media screen and (min-width: 1450px) {
    .events-card-container {
        justify-content: space-between;
        padding: 0 25%;
    }
} */