.join-mailing-container {
    color: white;
    display: flex;
    font-size: 1.1rem;
    justify-content: flex-end;
    position: absolute;
    top: 25px;
    right: 0;
    width: 100%;
    z-index: 1;
}

.join-mailing {
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
    text-align: right;
    width: max-content;
}

.join-our {
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-right: 70px;
}
.mailing-list {
    padding-right: 10px;
}
.shows-img {
    top: 5px;
    width: 100%;
}

.tour-link {
    margin: 30px 0;
    /* top: 50px; */
}

.tour-link p {
    background-color: rgba(108, 29, 165, 0.7);
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 750px) {
    .events-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 5%; 
    }
    .shows-img-container {
        height: 50vw;
        overflow: hidden;
    }
    .join-mailing-container p {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    .join-our {
        padding-right: 160px;
    }
    .mailing-list {
        padding-right: 30px;
    }
    .shows-img {
        top: -15%;
    }
    /* .tour-link {
        top: 80px;
    } */
    /* .tour-link .line {
        margin-right: 7%;
    } */
}
@media screen and (min-width: 833px) {
    .events-card-container {
        padding: 0 7%;
    }
}

@media screen and (min-width: 870px) {
    .events-card-container {
        padding: 0 9%;
    }
}

@media screen and (min-width: 900px) {
    .events-card-container {
        padding: 0 2%;
    }
    .event {
        margin: 2% 0;
    }
    .join-mailing-container {
        top: 60px;
    }
    /*
    .shows-img {
        padding: 0 10%;
    }
    .tour-link {
        top: 100px;
    }
    .tour-link .line {
        margin-right:10%;
    } */
}
@media screen and (min-width: 1200px) {
    .events-card-container {
        padding: 0 7%;
    }
    .event {
        margin: 2% 2%;
    }
    .join-mailing-container {
        top: 75px;
    }
}

@media screen and (min-width: 1400px) {
    .events-card-container {
        padding: 0 10%;
    }
    .join-mailing-container {
        top: 100px;
    }
    .join-our {
        padding-right: 180px;
    }
    .mailing-list {
        padding-right: 50px;
    }
}

@media screen and (min-width: 1660px) {
    .events-card-container {
        padding: 0 15%;
    }
}

/* @media screen and (min-width: 1120px) {
    .events-card-container {
        justify-content: space-around;
        padding: 0 15%;
    }
}

@media screen and (min-width: 1450px) {
    .events-card-container {
        justify-content: space-between;
        padding: 0 25%;
    }
} */