#home {
    background-image: url(../../backgrounds/home_mobile_longer.png);
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.home-title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 2;
}

h1 {
    color: rgba(255, 255, 255, 0.2);
    font-size: 3.3rem;
}

.home-links {
    color: rgba(255, 255, 255, 0.9);
    padding-top: 3.3rem;
    position: absolute;
    top: 6.5rem;
    text-align: left;
}

.home-msg-container {
    overflow: hidden;
    padding-top: 3.3rem;
    position: absolute;
    top: 0;
    text-align: left;
}

.home-msg {
    animation: 2s ease-out slidein;
    color: rgba(146, 170, 67, 1);
    letter-spacing: 4px;
    padding-left: 6px;
    z-index: 2;
}

.out-now {
    margin-top: 2.8rem;
}

.buy-listen {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    padding-left: 10px;
    position: relative;
    width: fit-content;
    text-align: right;
    z-index: 1;
}

.patreon-link-big {
    display: none;
}

.buy-listen p {
    color: rgba(255, 255, 255, 0.8);
}

.cover {
    text-align: center;
    width: 100%;
}

.album-cover {
    margin: 0 auto;
    width: 90%;
}

.patreon-link p {
    background-color: rgba(146, 187, 79, 0.6);
    color: rgba(46, 12, 70, 1);
    font-weight: bold;
}

.barcode {
    box-shadow: 1px 1px 3px rgb(67, 67, 67);
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 1.7rem;
    font-style: normal;
    padding: 1px 12px;
} 


@keyframes slidein {
    from { 
        transform: translateX(-100%);
    }
    to { 
        transform: translateX(0);
    }
}

@media screen and (min-width: 560px)
              and (max-width: 830px)
              and (orientation: landscape) {
                  #home {
                      background-position: 50% 51%;
                  }
                  .album-cover {
                      width: 60%;
                  }
                  .patreon-link {
                      bottom: 7%;
                  }
              }


@media screen and (min-width: 600px)
              and (min-height: 450px) {
    #home {
        background-image: url(../../backgrounds/big_purp1.png), url(../../backgrounds/home_mobile_longer.png);
        background-position: right 50% bottom 60vh, 50% 80%;
    }
    h1 {
        font-size: 3.5rem;
    }
    .cover {
        padding-bottom: 7%;
    }
    .home-msg-container {
        padding-top: 3.5rem;
    }
    .out-now {
        margin-top: 3.2rem;
    }
    .home-links {
        padding-top: 7.2rem;
        font-size: 1.2rem;
    }
    .patreon-link {
        bottom: 3%;
    }
    .album-cover {
        width: 70%;
    }
}

@media screen and (min-width: 700px)
              and (min-height: 750px) {
                h1 {
                    font-size: 5rem;
                }
                .cover {
                    padding-bottom: 12%;
                }
                .home-msg-container {
                    padding-top: 5rem;
                }
                .out-now {
                    margin-top: 5rem;
                }
              }
@media screen and (min-width: 800px)
              and (min-height: 1000px) {
                h1 {
                    font-size: 5.6rem;
                }
                .cover {
                    padding-bottom: 15%;
                }
                .home-msg-container {
                    padding-top: 6.1rem;
                }
                .out-now {
                    margin-top: 5.8rem;
                }
              }


@media screen and (min-width: 800px)
              and (min-height: 450px) {
    h1 {
        font-size: 4.5rem;
    }
    .home-msg-container {
        padding-top: 4.5rem;
    }
    .out-now {
        margin-top: 4.5rem;
    }
    .home-links {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        top: 40vh;
        width: 100%;
    }
    .home-links-pod {
        display: flex;
        justify-content: space-evenly;
        width: 25%;
    }
    .patreon-link-big {
        display: flex;
        justify-content: center;
        width: 25%;
    }
    .buy-listen {
        margin-top: 5px;
        font-size: 1.1rem;
    }

    .buy-listen p {
        color: white;
    }
    .album-cover {
        width: 50%;
    }
    .patreon-link {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 5rem;
    }
    .home-msg-container {
        padding-top: 5rem;
    }
    .out-now {
        margin-top: 4.8rem;
    }
    
    /* .album-cover {
        width: 55%;
    } */
}

@media screen and (min-width: 1000px)
              and (min-height: 850px) {
                h1 {
                    font-size: 5.2rem;
                }
                .home-msg-container {
                    padding-top: 5.6rem;
                }
                .out-now {
                    margin-top: 5rem;
                }
              }
@media screen and (min-width: 1000px)
              and (min-height: 1100px) {
                .cover {
                    padding-bottom: 20%;
                }
              }