#home {
    background-image: url(../../backgrounds/home_mobile_longer.png);
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.home-title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}

h1 {
    color: rgba(255, 255, 255, 0.2);
    font-size: 3.3rem;
}

.home-links {
    color: rgba(255, 255, 255, 0.9);
    padding-top: 3.3rem;
    position: absolute;
    top: 6.5rem;
    text-align: left;
}

.home-msg-container {
    overflow: hidden;
    padding-top: 3.3rem;
    position: absolute;
    top: 0;
    text-align: left;
}

.home-msg {
    animation: 2s ease-out slidein;
    color: rgba(146, 170, 67, 1);
    letter-spacing: 4px;
    padding-left: 6px;
}

.out-now {
    margin-top: 2.8rem;
}

.buy-listen {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    padding-left: 10px;
    position: relative;
    width: fit-content;
    text-align: right;
    z-index: 1;
}

.patreon-link-big {
    display: none;
}

.buy-listen p {
    color: rgba(255, 255, 255, 0.8);
}

.cover {
    text-align: center;
    width: 100%;
}

.album-cover {
    margin: 0 auto;
    width: 90%;
}

.patreon-link p {
    background-color: rgba(146, 187, 79, 0.6);
    color: rgba(46, 12, 70, 1);
    font-weight: bold;
}

.barcode {
    box-shadow: 1px 1px 3px rgb(67, 67, 67);
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 1.7rem;
    font-style: normal;
    padding: 1px 12px;
} 


@keyframes slidein {
    from { 
        transform: translateX(-100%);
    }
    to { 
        transform: translateX(0);
    }
}

@media screen and (min-width: 800px) {
    #home {
        background-image: url(../../backgrounds/big_purp1.png), url(../../backgrounds/home_mobile_longer.png);
        background-position: right 50% bottom 60vh, 60% 80%;
    }
    h1 {
        font-size: 5.8rem;
    }
    .home-msg-container {
        padding-top: 6.1rem;
    }
    .home-links {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        top: 40vh;
        width: 100%;
    }
    .home-links-pod {
        display: flex;
        justify-content: space-evenly;
        width: calc(.5 * 100vw - 250px);
    }

    .patreon-link-big {
        display: flex;
        justify-content: center;
        width: calc(.5 * 100vw - 250px);
    }
    .buy-listen {
        margin-top: 5px;
        font-size: 1.1rem;
    }

    .buy-listen p {
        color: white;
    }

    .album-cover {
        padding-bottom: 10%;
        width: 500px;
    }
    .patreon-link {
        display: none;
    }
    .out-now {
        margin-top: 5.8rem;
    }
}