
.nav-button {
    cursor: pointer;
    height: 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    z-index: 3;
}

.nav-button span {
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 3px;
    background: rgb(255, 255, 255);
    height: 3px;
    position: absolute;
    width: 100%;
}

.top {
    top: 0;
    transform-origin: 0 0;
}

.middle {
    top: 10px;
}

.bottom {
    top: 20px;
    transform-origin: 0 0;
}

.open-nav-enter {
    opacity: 0;
}

.open-nav-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.open-nav-exit {
    opacity: 1;
}

.open-nav-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.close-btn-exit-active .middle {
    opacity: 0;
    transition: opacity 500ms;
}

.close-btn-exit-done .middle {
    opacity: 0;
}

.close-btn-enter .middle {
    opacity: 0;
}

.close-btn-enter-active .middle {
    opacity: 1;
    transition: opacity 300ms;
}

.close-btn-exit-active .top {
    /* background-color: black;
    height: 4px; */
    transform: rotate(45deg) translateY(-3px);
    transition: all 300ms;
}

.close-btn-exit-done .top {
    /* background-color: black;
    height: 4px; */
    transform: rotate(45deg) translateY(-3px);
}

.close-btn-enter .top {
    transform: rotate(45deg) translateY(-3px);
}

.close-btn-enter-active .top {
    transform: rotate(0) translateY(0);
    transition: transform 300ms;
}

.close-btn-exit-active .bottom {
    /* background-color: black;
    height: 4px; */
    transform: rotate(-45deg) translateY(-1px);
    transition: all 300ms;
}

.close-btn-exit-done .bottom {
    /* background-color: black;
    height: 4px; */
    transform: rotate(-45deg) translateY(-1px);
}

.close-btn-enter .bottom {
    transform: rotate(-45deg) translateY(-1px);
}

.close-btn-enter-active .bottom {
    transform: rotate(0) translateY(0);
    transition: transform 300ms;
}