.art-prev-wrapper {
    overflow-y: hidden;
    position: relative;
}

.art-prev-container {
    display: flex;
    margin: 30px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 80%;
}
.prev-artwork-card {
    height: 93vw;
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 100%;
}

.prev-artwork-card iframe {
    height: 100%;
    width: 100%;
}

#art-arrow-l,
#art-arrow-r {
    background-color: transparent;
}

.fan-art-link p {
    color: rgb(46, 12, 70);
    background-color: rgba(254, 201, 121, 0.3);
}

.submit-yours {
    animation: 3s ease-in-out infinite alternate pulse;
    color: rgb(132, 28, 206);
    padding-right: 8px;
    text-align: right;
}

@keyframes pulse {
    to {
        color: rgb(237, 237, 85);
    }
}