.art-prev-wrapper {
    position: relative;
}

.art-prev-container {
    display: flex;
    margin: 30px auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 80%;
}
.prev-artwork-card {
    height: 93vw;
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 100%;
}

.is-visible {
    height: 100%;
}

.prev-artwork-card iframe {
    height: 100%;
    width: 100%;
}

#art-arrow-l,
#art-arrow-r {
    background-color: transparent;
}

.fan-art-link p {
    color: rgb(46, 12, 70);
    text-shadow: 0 0 30px rgb(140 157 101), 1px 1px 20px rgb(140 157 101), -1px -1px 20px rgb(140 157 101), 0 10px 10px rgb(140 157 101), 0 -10px 10px rgb(140 157 101), 10px 0 10px rgb(140 157 101), -10px 0 10px rgb(140 157 101), 0 -5px 5px  rgb(140 157 101), 0 5px 5px  rgb(140 157 101);
}

#submit-yours {
    padding-right: 15px;
}


@media screen and (min-width: 500px) {
    .art-prev-container {
        width: 70%;
    }
    .prev-artwork-card {
        height: 78vw;
    }
}

@media screen and (min-width: 600px) {
    .art-prev-container {
        width: 92%;
    }
    .prev-artwork-card {
        height: 46vw;
        scroll-snap-align: start;
        width: 50%;
    }
    .prev-artwork-card iframe {
        width: 90%;
    }
}

@media screen and (min-width: 1000px) {
    .prev-artwork-card {
        height: 31vw;
        width: 33.3%;
    }
}