.cover {
    text-align: center;
    position: relative;
    bottom: 8%;
    width: 100%;
}

h1 {
    color: rgb(238, 238, 238);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    color: rgb(255, 249, 222);
}

.album-cover {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(69, 68, 68, 0.8);
    margin: 0 auto;
    margin-top: 20px;
    width: 75%;
}

.buy {
    cursor: pointer;
    position: relative;
    bottom: 16%;
    margin: 0 auto;
    width: fit-content;
}

.barcode {
    box-shadow: 1px 1px 3px rgb(67, 67, 67);
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 2rem;
    font-style: normal;
    padding: 1px 12px;
}

.patreon {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    text-decoration: underline;
    width: 70%;
}

.wink {
    font-family: sans-serif;
    font-style: normal;
}