#contact {
    background-image: url(../../backgrounds/purp.png);
    background-size: cover;
    color: white;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    text-align: left;
    transition: height ease-in-out 500ms;
}

#contact h2 {
    color: rgba(255, 255, 255, .8);
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.down-arrow {
    /* background-color: rgba(255, 255, 255, .3); */
    display: inline-block;
    font-size: 1.1rem;
    margin-left: 20px;
    padding: 3px 5px;
    transition: transform 500ms;
    -webkit-text-stroke: 1px rgb(46, 12, 70);
}

.contact-btn-exit-active {
    transform: rotate(0deg);
}

.contact-btn-exit-done {
    transform: rotate(0deg);
}

.contact-btn-enter-active {
    transform: rotate(180deg);
}

.contact-btn-enter-done {
    transform: rotate(180deg);
}

/* .contact-sctn {
    height: 0px;
} */

.contact-sctn-enter {
    transform: translateY(100%);
}

.contact-sctn-enter-active {
    transform: translateY(0);
    transition: transform ease-in-out 500ms;
}

/* .contact-sctn-enter-done {
    height: 0px;
}

.contact-sctn-exit-active {
    height: 550px;
    /* transition: height ease-in-out 3s; */


.contact-sctn-exit {
    transform: translateY(0);
}

.contact-sctn-exit-active {
    transform: translateY(100%);
    transition: transform ease-in-out 500ms;
}

/* .contacts-enter {
    height: 0;
}

.contacts-enter-active {
    height: fit-content;
    transition: height ease-in-out 1000ms
}

.contacts-exit {
    height: fit-content;
}

.contacts-exit-active {
    height: 0;
    transition: height ease-in-out 1000ms
} */

.contact-container {
    text-align: center;
    padding-bottom: 10px;
}

.contact {
    line-height: 1.5;
    margin: 10px 0;
    margin-bottom: 20px;
}

.contact a {
    color: white;
}

.title {
    color: white;
    font-size: 1.1rem;
    font-style: normal;
}
