#fan-art {
    min-height: 100vh;
    padding-top: 10px;
}

#fan-art h2 {
    color: rgb(40 18 67);
    margin-bottom: 0;
    height: 55px;
    padding-top: 10px;
    font-size: 3.1rem;
}


.art-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: scroll;
    padding: 6% 7%;
    padding-bottom: 6.5vw;
    width: 100%;
}

.open-form-container {
    background-image: url(../backgrounds/big_purp1.png);
    padding: 2% 0 1.5% 0;
    width: 100%;
}

.open-form-btn {
    text-align: left;
}

.open-form-btn p {
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 3px 8px;
    padding-left: 5%;
    width: fit-content;
}

.in-case {
    display: none;
    font-size: .7rem;
    margin-top: 8px;
}

.art-love {
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}

.heart {
    font-size: 3.8rem;
    margin-right: 12px;
}

.submit-form {
    margin: 0 auto;
    padding: 5%;
    width: 80%;
}

.submit-form input,
.submit-form label {
    font-size: 1.1rem;
    font-style: normal;
}

.submit-form label {
    color: white;
}

.form-inputs {
    text-align: left;
}


.submit-form input {
    background-color: rgb(255, 255, 255, .8);
    font-size: 1.1rem;
    border-radius: 2px;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
}

.submit-form input::placeholder {
    color: rgb(46, 12, 70);
    font-style: italic;
}

#submit-art-btn {
    background-color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, .9);
    border-radius: 2px;
    cursor: pointer;
    height: 100px;
    margin: 10px auto;
    margin-bottom: 0;
    padding-top: 5px;
    width: 100px;
}

.submit-smiley {
    width: 70%;
}

.submit-text {
    color: rgb(46, 12, 70);
    font-size: 1.1rem;
}

#submit-art-btn:focus {
    background-color: rgba(250, 171, 122, 0.3);
    filter: saturate(150%);    
    outline: 0;     
}

#submit-art-btn:hover {
    background-color: rgba(250, 171, 122, 0.3);
    filter: saturate(150%);
}

#submit-art-btn:active {
    filter: invert(100%);
}

@media screen and (orientation: landscape) {
    .art-container {
        padding-bottom: 3.5vw;
    }
}

@media screen and (min-width: 760px) {
    .submit-form {
        width: 60%;
    }
    .submit-form input {
        margin-bottom: 25px;
        margin-top: 10px;
    }
    .submit-form input,
    .submit-form label, 
    .submit-text {
    font-size: 1.2rem;
}
}

