.cover {
    text-align: center;
    position: relative;
    bottom: 4%;
    width: 100%;
}

h1 {
    color: rgba(238, 238, 238, .6);
    font-size: 2.1rem;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: left;
}

p {
    color: rgb(255, 249, 222);
}

.listen {
    margin: 5px auto;
}

.listen p {
    color: white;
}

.album-cover {
    /* border: 1px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(69, 68, 68, 0.8); */
    margin: 0 auto;
    margin-top: 5px;
    width: 90%;
}

.buy {
    cursor: pointer;
    position: relative;
    bottom: 14%;
    margin: 0 auto;
    width: fit-content;
}

.barcode {
    box-shadow: 1px 1px 3px rgb(67, 67, 67);
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 2rem;
    font-style: normal;
    padding: 1px 12px;
}

.patreon-link {
    padding-top: 5%;
}

.patreon-link p {
    background-color: rgba(255, 222, 222, 0.5);
    color: rgb(46, 12, 70);
}

@media screen and (min-width: 500px) {
    .barcode {
        padding: 2px 20px;
    }
}
@media screen and (min-width: 700px) {
    .barcode {
        font-size: 2.5rem;
        padding: 3px 30px;
    }
}

