.merch-wrapper {
    position: relative;
}
.merch-container {
    border: 2px solid rgba(196, 247, 164, .8);
    display: flex;
    /* flex: none;
    flex-flow: row nowrap; */
    margin: 30px auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: 90%;
}

.img-container {
    background-color: white;
    flex: none;
    padding: 10px 10px 5px 10px;
    scroll-snap-align: center;
    transition: transform .7s ease;
    width: 100%;
}

.img-container img {
    width: 100%;
}

.arrow {
    background-color:  rgba(196, 247, 164, 0.6);
    /* border: 1px solid springgreen; */
    box-sizing: content-box;
    color: rgba(46, 12, 70, .7);
    cursor: pointer;
    font-size: 2.2rem;
    position: absolute;
    bottom: 40%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px rgb(46, 12, 70);
    width: 10%;
    z-index: 2;
}

.scrollLeft {
    padding: 4px 4px 0 0;
}

.scrollRight {
    left: 89%;
    padding: 4px 0 0 4px;
}

.go-store {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    font-size: 1.1rem;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 3px;
    width: fit-content;
}

.go-store p {
    background-color: rgba(196, 247, 164, 0.6);
    color: rgb(46, 12, 70);
    font-size: .8rem;
    font-style: normal;
    font-weight: 600;
    padding: 2px;
}

.treat {
    color: rgb(132, 28, 206)
}