#merch h2 {
    color: rgba(255, 159, 159, 0.8);
    padding-top: 10px;
}

.merch-wrapper {
    position: relative;
}
.merch-container {
    border: 2px solid rgba(196, 247, 164, .8);
    display: flex;
    /* flex: none;
    flex-flow: row nowrap; */
    margin: 30px auto;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 90%;
}

.img-container {
    background-color: white;
    flex: none;
    padding: 10px 10px 5px 10px;
    scroll-snap-align: center;
    width: 100%;
}

.img-container img {
    width: 100%;
}

.arrow {
    background-color:  rgba(255, 255, 116, 0.4);
    /* border: 1px solid springgreen; */
    box-sizing: content-box;
    color: rgba(46, 12, 70, .7);
    cursor: pointer;
    font-size: 2.2rem;
    position: absolute;
    bottom: 45%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px rgb(46, 12, 70);
    width: 10%;
}

.scrollLeft {
    left: 0;
    padding: 6px 4px 6px 0;
}

.scrollRight {
    right: 0;
    padding: 6px 0 6px 4px;
}

.store-link p {
    background-color: rgba(255, 159, 159, 0.4);
    color: rgb(46, 12, 70);
}

.treat {
    animation: 5s ease-in-out infinite alternate pulse;
    animation-delay: 1s;
    color: rgb(132, 28, 206);
    /* color: rgb(65, 182, 147); */
    padding-right: 32px;
    text-align: right;
}

@keyframes pulse {
    to {
        /* filter: invert(); */
        color: rgb(237, 237, 85);
    }
}