.shows-img-container {
    width: 100%;
}

.shows-img-container img {
    width: 100%;
}

.tour-link {
    position: relative;
    top: 50px;
}

.tour-link p {
    background-color: rgba(132, 28, 206, .4);
    color: rgb(255, 249, 222);
}