#tour {
    min-height: 100vh;
    padding-top: 10px;
}

#tour h2 {
    color: rgb(40 18 67);
    margin-bottom: 0;
    height: 55px;
    padding-top: 10px;
    font-size: 3.1rem;
}

.tour-open-subscribe-container {
    background-image: url(../backgrounds/big_purp1.png);
    padding: 2% 0 1.5% 0;
    width: 100%;
}

.never {
    color: rgba(255, 255, 255, .7);
    padding-left: 2%;
    text-align: left;
}

.tour-open-subscribe {
    /* padding: 3px 0; */
    text-align: left;
}

.tour-open-subscribe p {
    /* background-color: rgba(255, 255, 255, 0.6); */
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 3px 8px;
    padding-left: 7%;
    width: fit-content;
}

.loading {
    animation: loading-spin 2s infinite;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    font-style: normal;
    transform-origin: center;
}

.tour-no-events {
    background-image: url(../backgrounds/resting.png);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 130px);
    /* position: fixed;
    bottom: 10px;
    width: 100%; */
}

.resting-container {
    padding-top: 20%;
    padding-left: 40%;
}

.resting-container p {
    color: rgb(46, 12, 70);
    font-size: 1.4rem;
}
.brb {
    padding-left: 120px;
}


.smiley-banner {
    background-image: url(../backgrounds/smiley_multi.png);
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes loading-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }