#tour {
    min-height: 100vh;
    padding-top: 10px;
}

#tour h2 {
    color: rgb(40 18 67);
    margin-bottom: 0;
    height: 55px;
    padding-top: 10px;
    font-size: 3.1rem;
}

.tour-open-subscribe-container {
    background-image: url(../backgrounds/big_purp1.png);
    padding: 2% 0 1.5% 0;
    width: 100%;
}

.never {
    color: rgba(255, 255, 255, .7);
    padding-left: 2%;
    text-align: left;
}

.tour-open-subscribe {
    text-align: left;
}

.tour-open-subscribe p {
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 3px 8px;
    padding-left: 7%;
    width: fit-content;
}

#tour-page-loading {
    top: 50px;
}

.tour-no-events {
    background-image: url(../backgrounds/resting.png);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 130px);
}

.resting-container {
    padding-top: 20%;
    padding-left: 40%;
}

.resting-container p {
    color: rgb(46, 12, 70);
    font-size: 1.4rem;
}
.brb {
    padding-left: 120px;
}

@media screen and (orientation: landscape) {
    .tour-no-events {
        background-position: 50% 70%;
    }
    .resting-container {
        padding-top: 10%;
    }
}

@media screen and (min-width: 600px) and (min-height: 450px) {
    .tour-no-events {
        height: calc(100vh - 145px);
    }
    .resting-container p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .tour-no-events {
        height: calc(100vh - 170px);
    }
    .resting-container p {
        font-size: 1.6rem;
    }
}